@import "bootstrap/scss/bootstrap";

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: #2345cf;
}

.fa-plus, .fa-undo-alt, .fa-edit {
  color: #2345cf;
}

.show-checkbox input:hover {
  background-color: black;
}
